body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    background-color: green
}

#movingText {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: absolute;
}
#staticImage {
    position: absolute;
    top: 0;
    right: 0;
}